body{ 
 background-image: linear-gradient(to right ,#6A11CB,#26D);
}
#button{
    font-family:sans-serif ;
    color: beige;
    margin-left:3px;
    border-radius: 20px;
    background-color: rgb(5, 145, 201);
}
#active{
    color: rgb(199, 13, 13);
    margin-top: 180px;
    margin-right:6px;
    font-size: 30px;
    font-weight:bold;
}
#recovered{
  color: rgb(5, 75, 5);
    margin-right:6px;
  font-size: 30px;
  font-weight:bold;
}
#deaths{
    color:rgba(12, 1, 1, 0.822);
    margin-right:6px;
  font-size: 30px;
  font-weight:bold;
}